/* Basic css */
@font-face {
    font-family: MyFont1;
    src: url(../fonts/Bitter-Bold.otf);
}
@font-face {
    font-family: MyFont2;
    src: url(../fonts/Bitter-Regular.otf);
}
body { background: #343434 !important;

     font-family: "Times New Roman";}

.main-block{
    padding-top:50px;
    background: #101010 !important;
    margin-bottom:100px;
    padding-bottom:50px;
}

@media only screen and (max-width : 768px) {
    .down-block{
        display:none;
    }
}

/* Navbar */
.navbar-brand {
    padding: 0px;
    margin: 0px;
}
.navbar-brand>img {
    height: 100%;
    margin:0;
    padding:0;
    width: auto;
}
.navbar{
    position:fixed;
    width:100%;
    z-index: 999;
    font-size:15px;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-menu>li>a{
    color:white;
}
.dropdown-menu .presentation{
    background-color: #363636;
    color: #ffffff;
}

.navbar .glyphicon {
    border-color: #9d9d9d;
    border-style: solid;
    border-width: 1px;
    padding:3px;
    border-radius: 1px;
    vertical-align: middle;
    margin-left:10px;
    margin-bottom:1px;
}
/* Memes */
.mem h2{
    font-family: MyFont2;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
.mem .glyphicon{
    vertical-align: middle;
}
.mem .number{
    font-family: MyFont2;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 25px;
    color:white;
}
.mem .buttonTollbar{
    margin-top:20px;
}
.mem .numberComments{
    position:absolute;
    color:black;
    left:15px;
    top:10px;
    font-family: MyFont2;
    font-size:20px;
}
.mem .glyphicon-comment {
    font-size: 45px;
    color:white;
    vertical-align: middle;
}


/* Down panel */
.downPanel{
    margin-top:50px;
}

.downPanel .buttonTollbar .Random{
    background: url(../images/ico-random.png) center center no-repeat #fffd00;
    width:15%;
    color:black;
    height:60px;
}

.downPanel .buttonTollbar .NextPage{
    font-family:MyFont2;
    color:black;
    background: #fffd00;
    height:60px;
    margin-right: 1%;
    width:84%;
    font-size:20px;
}
.downPanel .buttonTollbar .NextPage:hover,.Random:hover{
    background-color: #fffe5c;
}
.downPanel .buttonTollbar .mcs-horizontal-example {
    margin-top:10px;
    margin-bottom:10px;
    background-color: #101010;
    overflow-x: auto;
    white-space: nowrap;
    display: block
}
.downPanel .buttonTollbar .mcs-horizontal-example a {
    cursor:pointer;
    display: inline-block;
    margin-left:5px;
    margin-right:5px;
    font-family: MyFont2;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color:white;
    background-color: #141414;
    border-radius: 3px;
    border-color: #141414;
    border-width: 2px;
    border-style: solid;
    padding-top: 1px;
    width:75px;
    text-decoration: none;
}

.downPanel .buttonTollbar .mcs-horizontal-example a:hover {
    background-color: #4f4f4f;
    border-color: #ffffff;
}
.downPanel .buttonTollbar .mcs-horizontal-example a.active {
    background-color: #777;
    border-color: #ffffff;
}
.downPanel .buttonTollbar #PagePanel{
    font-family: MyFont1;
    text-align: center;
    font-size:15px;
    margin-top:10px;
}
.downPanel .buttonTollbar #PagePanel .control-label{
    color:white;
    margin-right: 3px;
    display:inline;
}
.downPanel .buttonTollbar #PagePanel .form-control{
    background-color: black;
    color:white;
    display:inline;
    text-align: center;
    width:75px;
}
.downPanel .buttonTollbar #PagePanel .btn-default{
    margin-left: 3px;
    display:inline;
    background: #fffd00;
    width:75px;
    color:black;
}
.downPanel .buttonTollbar #PagePanel .btn-default:hover{
    background-color: #fffe5c;

}

/* Footer */
.down-block{
    width:100%;
    position:relative;
    background: #101010 !important;
    margin-top:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.down-block .first{

color: #747474;
}
.down-block .second a{
    color: #ffffff;
    font-size: 18px;
    margin-left:20px;
    text-decoration: none;
    font-family: MyFont1;
}
.authPanel{
    margin-top: 60px;
}

.authPanel li{
    background: #333333;
    border-color: #333333;
}
.authPanel .nav-tabs>li.active>a{
    background: #545454;
    border-color: #545454;
    color: white;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
    border-color: #545454;
}
.nav-tabs.nav-justified>li>a{
    border:none;
}
.authPanel .nav-tabs>li:hover>a{
    background: #747474;
    border-color: #747474;
    color: white;
}
.authPanel .form-control{
    background-color: #333333;
    border-color: #333333;
    color:#747474;
}
.authPanel input:-webkit-autofill {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color:#747474 !important;
}

.authPanel input#email::-webkit-input-placeholder {color:#545454;}
.authPanel input#email::-moz-placeholder          {color:#545454;}
.authPanel input#email:-moz-placeholder           {color:#545454;}
.authPanel input#email:-ms-input-placeholder      {color:#545454;}
.authPanel input#username::-webkit-input-placeholder {color:#545454;}
.authPanel input#username::-moz-placeholder          {color:#545454;}
.authPanel input#username:-moz-placeholder           {color:#545454;}
.authPanel input#username:-ms-input-placeholder      {color:#545454;}

.authPanel a{
    color:white;
}
.authPanel .control-label{
    color: #b5b5b5;
}

.authPanel .panel-body{
    background: #545454;
}

.authPanel .panel-default{
    border-color: #545454;
    border-radius: 0;
}

.authPanel .btn-block{
    background: #fffd00;
    color:black;
}